<div class="container-fluid">
    <div class="row">
      <div class="col-12 nopadding">
        <div id='container'>
          <div id='container2'></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 nopadding">
        <app-rhythm-channel #graphicData (position)="positionChanged($event)"></app-rhythm-channel>
      </div>
    </div>
    <div class="row" style="height: 100px;">
      <div class="col-12  border-4">
        <div class="row  d-flex justify-content-around">
          <div class="col-1 align-self-center">
            <button class="btn btn-xs btn-info button_rhythm" (click)="shift_left()">
              <i class="fa fa-caret-left"></i>
            </button>
            <button class="btn btn-xs btn-info button_rhythm" (click)="shift_right()">
              <i class="fa fa-caret-right"></i>
            </button>
          </div>
          <div class="col-1 border border-4 m-1">
            <span  style="font-size: 12px;">2019-10-15 <br> 15:07:33</span>
          </div>
          <div class="col-2 border border-4 m-1">
            <span style="font-size: 12px;">50 Hz | Músculo | Línea de base</span>
          </div>
          <div class="col-1 border border-4 m-1">
            <span style="font-size: 12px;">80 LPM</span>
          </div>
          <div class="col-2"></div>
          <div class="col-4 align-self-center">
            <select class="select"
                    name="derivations"
                    id="derivations"
                    (change)="derivationChanged($event.target.value)">
                <option value="Seleccionar" selected="true">Seleccionar</option>
                <option value="Principales">Principales</option>
                <option value="Aumentadas">Aumentadas</option>
                <option value="V1, V2 y V3">V1, V2 y V3</option>
                <option value="V4, V5 y V6">V4, V5 y V6</option>
                <option value="Miembros">Miembros</option>
                <option value="Precordiales">Precordiales</option>
                <option value="DII, V2 y V5">DII, V2 y V5</option>
                <option value="12x1">12x1</option>
                <option value="6x2">6x2</option>
                <option value="3x4">3x4</option>
                <option value="DI">DI</option>
                <option value="DII">DII</option>
                <option value="DIII">DIII</option>
                <option value="aVr">aVr</option>
                <option value="aVl">aVl</option>
                <option value="aVf">aVf</option>
                <option value="V1">V1</option>
                <option value="V2">V2</option>
                <option value="V3">V3</option>
                <option value="V4">V4</option>
                <option value="V5">V5</option>
                <option value="V6">V6</option>
            </select>
            <select class="select"
                    name="speed-scale" id="speed-scale" #speedScale
                    (change)="speedChanged($event.target.value)">
                <option  value="6.25 mm/S">6.25 mm/S</option>
                <option  value="12.5 mm/S">12.5 mm/S</option>
                <option  value="25 mm/S" selected="true">25 mm/S</option>
                <option  value="50 mm/S">50 mm/S</option>
                <option  value="100 mm/S">100 mm/S</option>
            </select>
            <select class="select"
                    name="gain-scale" id="gain-scale" #gainScale
                    (change)="gainChanged($event.target.value)">
                <option  value="2.5 mm/mV">2.5 mm/mV</option>
                <option  value="5 mm/mV">5 mm/mV</option>
                <option  value="10 mm/mV" selected="true">10 mm/mV</option>
                <option  value="20 mm/mV">20 mm/mV</option>
                <option  value="40 mm/mV">40 mm/mV</option>
            </select>
          </div>
        </div>
        <div class="row  d-flex justify-content-around">
          <div class="col-6"></div>
          <div class="col-3">
            <button class="btn btn-outline-info button-2"  (click)="drawGridChanged()">Ver grilla</button>
            <button class="btn btn-outline-info button-2"  (click)="drawBeatsChanged()">Ver latidos</button>
            <button class="btn btn-info button_dialog" (click)="openDialog()">Ajustar grilla</button>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <button value="1/4" class="btn btn-outline-info button"
                    (click)="[scaleChanged($event.target.value),
                              speedScale.value=$event.target.value.replace('1/4','6.25 mm/S'),
                              gainScale.value=$event.target.value.replace('1/4','2.5 mm/mV')]">x1/4</button>
            <button value="1/2" class="btn btn-outline-info button"
                    (click)="[scaleChanged($event.target.value),
                              speedScale.value=$event.target.value.replace('1/2','12.5 mm/S'),
                              gainScale.value=$event.target.value.replace('1/2','5 mm/mV')]">x1/2</button>
            <button value="1"   class="btn btn-outline-info button"
                    (click)="[scaleChanged($event.target.value),
                              speedScale.value=$event.target.value.replace('1','25 mm/S'),
                              gainScale.value=$event.target.value.replace('1','10 mm/mV')]">X1</button>
            <button value="2"   class="btn btn-outline-info button"
                    (click)="[scaleChanged($event.target.value),
                              speedScale.value=$event.target.value.replace('2','50 mm/S'),
                              gainScale.value=$event.target.value.replace('2','20 mm/mV')]">X2</button>
            <button value="4"   class="btn btn-outline-info button"
                    (click)="[scaleChanged($event.target.value),
                              speedScale.value=$event.target.value.replace('4','100 mm/S'),
                              gainScale.value=$event.target.value.replace('4','40 mm/mV')]">X4</button>
          </div>
        </div>
      </div>
    </div>
  </div>
